.footer {
  background-color: $light-color-2;
  padding: 5rem 2.5rem;
  display: grid;
  gap: 3rem;
  text-align: center;
  font-size: 1.2rem;

  &__nav {
    display: flex;
    gap: 2rem;
    justify-content: center;

    a {
      font-weight: bold;
    }
  }
}

body.dark .footer {
  background-color: $dark-color-2;
}
