.header {
  height: 6rem;
  width: 100%;
  padding: 0 2rem;
  background: $light-mode-section;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px $dark-mode-section;
  position: fixed;

  &__title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .burger-button {
    width: 3.4rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    border: none;
    background: none;

    div {
      width: 100%;
      height: 0.6rem;
      border-radius: 0.3rem;
      background: $button-background;
      transition: all ease 250ms;

      &:first-of-type {
        width: 50%;
      }
      &:last-of-type {
        width: 50%;
        margin-left: auto;
      }
    }

    &.active {
      div {
        &:first-of-type {
          transform: translate(2px, 5.5px) rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
        &:last-of-type {
          transform: translate(-2px, -5.5px) rotate(45deg);
        }
      }
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__navbar {
    background: $light-mode-section;
    position: absolute;
    top: 6rem;
    height: calc(100vh - 6rem);
    left: -100vw;
    right: 100vw;
    transition: all ease 250ms;

    @media screen and (min-width: 768px) {
      position: static;
      height: auto;
    }

    &.active {
      left: 0;
      right: 0;
    }

    .list {
      padding-top: 4rem;

      @media screen and (min-width: 768px) {
        padding: 0;
        display: flex;
        gap: 2rem;
      }
      &__link {
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 1rem 0;

        @media screen and (min-width: 768px) {
          padding: 0;
        }
      }
    }
  }
}
