@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  &__icon {
    font-size: 4rem;
    animation-name: spin;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
