.login {
  &-container {
    padding: 5rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 6.5rem);
    color: $dark-color;
  }
}

body.dark .login {
  &-container {
    color: $light-color;
  }
}
